<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ... (seu código de cabeçalho) ... -->
</head>

<body>
    <h1>Previsão de Renda Anual</h1>
    <div class="input-container">
        <label for="idade" class="input-label">Idade:</label>
        <input type="text" id="idade" class="input-field">
    </div>
    <div class="input-container">
        <label for="gender_female" class="input-label">Gênero (Feminino):</label>
        <input type="radio" id="gender_female" name="gender" value="1" class="input-field">
    </div>
    <div class="input-container">
        <label for="gender_male" class="input-label">Gênero (Masculino):</label>
        <input type="radio" id="gender_male" name="gender" value="0" class="input-field">
    </div>
    <button onclick="calcularPrevisao()">Calcular Previsão</button>
    <div id="output"></div>

    <script>
        async function calcularPrevisao() {
            // Obtenha os valores inseridos nos campos de entrada
            var idade = document.getElementById("idade").value;
            var genero = document.querySelector('input[name="gender"]:checked').value;

            // Enviar solicitação ao servidor com os valores para obter a previsão da renda anual
            var data = {
                Age: idade,
                Gender_Female: genero === "1" ? 1 : 0,
                Gender_Male: genero === "0" ? 1 : 0
            };

            const response = await fetch("/predict", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                const result = await response.json();
                var previsao = result.prediction;

                // Exiba a previsão na página
                var outputDiv = document.getElementById("output");
                outputDiv.innerHTML = "Previsão de Renda Anual: $" + previsao.toFixed(2);
            } else {
                console.error("Erro ao fazer a solicitação.");
            }
        }
    </script>
</body>

</html>
